body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.center {
    width: 100vw;
    display: block;
}

/* NAVBAR */
.navbar {
    display: flex;
    background-color: #111;
    border-bottom: 2px solid #333;
    width: 100%;
}

/* TABS */
.tab {
    flex: 1;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    color: white;
    border-right: 1px solid #333;
    box-sizing: border-box;
}

.tab:last-child {
    border-right: none;
}

.tab:hover {
    background-color: #2e2e2e;
}

.tab.active {
    background-color: #e2e2e2;
    color: black;
}

/* PAGE TITLE */
.page-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.page-title {
    font-size: 40px;
    padding: 30px;
    text-align: center;
}

.page-action button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #510071;
    color: white;
    border: 2px solid #333;
    cursor: pointer;
    border-radius: 5px;
}

.page-action button:hover {
    background-color: #340049;
}

/* CONTENT */
.content {
    padding: 30px;
}

/* IMAGES (responsive) */
.img-container {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.workout-img {

}

.icon {
    transition-duration: 0.4s;
}

.icon:hover {
    opacity: 0.7;
}

@media (max-width: 1250px) {
    .img-container {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 675px) {
    .img-container {
        margin-left: 12px;
        margin-right: 12px;
    }

    .button-container {
        margin-top: 50px;
    }
}

@media (max-width: 450px) {
    .icon {
        margin-left: auto;
    }
}

/* BUTTONS */
.button-container {
    display: inline-block;
    text-align: center;
}

button {
    background-color: #b73fec;
    font-size: 30px;
    color: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #b73fec;
    transition-duration: 0.4s;
}

button:hover {
    cursor: pointer;
    background-color: #722891;
}

/* SEARCH BAR */
.search {
    width: 500px;
    padding: 10px;
    border-radius: 32px;
    border: 2px solid white;
    background-color: black;
    font-size: 30px;
    color: white;
}

.search::placeholder {
    color: white;
    opacity: 0.7;
}